@font-face {
    font-family: 'Tektur';
    src: url('Tektur-VariableFont.ttf');
    font-weight: normal;
    font-style: normal;
}

* { /* сброс отступов по умолчанию */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* учитываем отступы и границы при расчете их размеров */
}

body {
    font-family: 'Tektur', sans-serif; /* шрифт текста по умолчанию для всего документа */
    color: #ffffff; /* цвет текста по умолчанию для всего документа */
    overflow-x: hidden; /* Скрывает всё, что выходит за правую границу */ 
}

/*------------------------------------*/

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000000;
    padding: 15px 0;
    overflow-x: hidden; /* Скрывает всё, что выходит за правую границу */ 
}

.container {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.left-figure-0 {
    position: absolute;
    width: 30vw;
    height: 30vw;
    left: -10%;
    top: -1%;
}

.right-figure-0 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    right: -10%;
    top: 20%;
}

.line-0 {
    position: absolute;
    width: 200vw;
    height: 10vw;
    right: 0%;
    top: 40%;
    z-index: 3;
}

.header-top {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-labels-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-labels-item {
    flex-grow: 1; /* Каждый элемент растягивается на доступную ширину */
    text-align: center; /* Центрируем текст внутри каждого элемента */
    font-size: calc(9px + 0.9vw);
    width: 1.5vw;
    z-index: 5;
}

.contact-btn {
    font-family: 'Tektur', sans-serif;
    font-size: calc(9px + 0.9vw);
    padding: 3% 3%;
    border: 1px solid #fff;
    background-color: #007bff00;
    color: #fff;
    border-radius: 1px;
    cursor: pointer;
}

.header-title {
    position: absolute;
    left: 7%;
    top: 35%;
    text-align:left;
    z-index: 4;
}

.header-title h1 {
    font-size: calc(36px + 3vw); /* лучше что-то такое calc(26px + 3vw) */
}

.header-title-bg1 {
    position: absolute;
    left: 8%;
    top: 38%;
    text-align:left;
    z-index: 2;
}

.header-title-bg1 h1 {
    font-size: calc(36px + 3vw);
    color: #ffffff00;
    text-shadow: 0 0 2px black, 0 0 white;
}

.header-title-bg2 {
    position: absolute;
    left: 9%;
    top: 41%;
    text-align:left;
    z-index: 1;
}

.header-title-bg2 h1 {
    font-size: calc(36px + 3vw);
    color: #ffffff00;
    text-shadow: 0 0 2px black, 0 0 white;
}

.header-person {
    position: absolute;
    left: 60%;
    bottom: 12%;
}

.header-person-list {
    list-style: none; /* Убираем маркеры списка */
}

.header-person-item {
    font-size: calc(15px + 0.7vw);
    margin-bottom: 5px;
    width: calc(15px + 0.7vw);
    text-align: left;
}

.matrix-text {
    white-space: nowrap; /* Запретим перенос строк */
}

@media (max-width: 768px) {
    .header-person {
        position: absolute;
        left: 25%;
        bottom: 33%;
    }
}

/* \/ скроллер со скилами \/ */ 

.tag-list {
    width: 40vw;
    max-width: 90vw;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 1rem 0;
    position: absolute;
    overflow: hidden;
    bottom: 10%;
    left: 10%;
}

@media (max-width: 768px) {
    .tag-list {
        width: 60vw;
        max-width: 90vw;
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        gap: 1rem 0;
        position: absolute;
        overflow: hidden;
        bottom: 5%;
        left: 17%;
    }
}
  
.loop-slider {
  .inner {
    display: flex;
    width: fit-content;
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: var(--direction);
    animation-duration: var(--duration);
    }
}
  
.tag {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #ffffff;
    font-size: 0.9rem;
    background-color: #00000000;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 0.7rem 1rem;
    margin-right: 1rem;
    box-shadow: 
      0 0.1rem 0.2rem rgb(0 0 0 / 20%),
      0 0.1rem 0.5rem rgb(0 0 0 / 30%),
      0 0.2rem 1.5rem rgb(0 0 0 / 40%);

    span {
      font-size: 1.2rem;
      color: #ffffff;
    }
}

.fade {
    pointer-events: none;
    background: linear-gradient(90deg, #000000, transparent 30%, transparent 70%, #000000);
    position: absolute;
    inset: 0;
}

@keyframes loop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}

/* /\ скроллер со скилами /\ */ 

/*------------------------------------*/

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding: 10px 0;
    color: #000000;
    overflow: hidden; /* Скрывает всё, что выходит за правую границу */ 
}

.right-figure-1 {
    position: absolute;
    width: 20vw;
    height: 15vw;
    right: -5%;
    top: -3%;
}

.achievements-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Сдвигаем элемент влево на половину его ширины */
    top: 10%;
    text-align:center;
    font-size: calc(16px + 1vw);
    z-index: 5;
}




/* слайдер \/ */

.container-slider {
    position: absolute;
    padding: 3rem;
    top: 20%;
    height: calc(256px + 25vw);
    max-height: 83%;
    width: calc(606px + 60vw);
    max-width: 100%;
    z-index: 5;
}

.slider-wrapper {
	position: relative;
    cursor: grab;
    width: 100%;
    height: 100%;
}

.slider-wrapper:active {
    cursor: grabbing;
}

.slide {
    flex: 1 0 100%;
    scroll-snap-align: start;
    background-color: #c8c8c8; /* Серый фон для слайдов */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #333;
    text-align: center;
    padding: 1rem;
    user-select: none; /* Отключение выделения текста */
}


.slider {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
    scrollbar-width: none; /* Hide scrollbar Firefox */
}

/* Номер слайда */
.slide-number {
    top: 1rem;
    left: 1rem;
    font-size: calc(6px + 0.6vw);
    color: #333;
    font-weight: bold;
}

/* Блок с фотографиями */
.slide-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: calc(3px + 0.3vw);
    width: calc(126px + 12vw); /* Ширина контейнера с фото */
    pointer-events: none; /* Отключаем взаимодействие с мышью */
}

.slide-photos img:nth-child(1) {
    grid-column: 1 / 3; /* Первая фотография занимает всю ширину верхнего ряда */
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
}

.slide-photos img:nth-child(2),
.slide-photos img:nth-child(3) {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
}


/* Стили для содержания внутри каждого слайда */
.slide-info {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: calc(6px + 0.6vw);
}

.slide-info, .slide-photos, .slide-details, .slide-number {
    overflow: hidden; /* Отключаем прокрутку для вложенных элементов */
}

/* Информация о достижении */
.slide-details {
    flex: 1;
    margin-left: calc(6px + 0.6vw);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.slide-details h2 {
    font-size: calc(16px + 1vw);
    color: #333;
    margin: calc(6px + 0.6vw);
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #333;
}

.slide-details p {
    font-size: calc(7px + 0.7vw);
    color: #555;
    line-height: 1.5;
    margin: calc(6px + 0.6vw);
}


.slider::-webkit-scrollbar {
	display: none;
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
    .container-slider {
        padding: 1rem;
        top: 20%; /* Смещаем контейнер чуть выше */
        height: auto; /* Автоматическая высота для контента */
        width: 100%; /* Растягиваем контейнер на 100% ширины */
    }
    
    .slide {
        max-width: 100%; /* Максимальная ширина слайда — 90% экрана */
    }

    /* Стили для содержания внутри каждого слайда */
    .slide-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items:center;
        gap: calc(6px + 0.6vw);
    }

    .slide-photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: calc(3px + 0.3vw);
        width: calc(126px + 12vw); /* Ширина контейнера с фото */
        pointer-events: none; /* Отключаем взаимодействие с мышью */
    }
    
    .slide-photos img:nth-child(1) {
        grid-column: 1 / 3; /* Первая фотография занимает всю ширину верхнего ряда */
        width: 100%;
        height: auto;
        border-radius: 0.25rem;
    }
    
    .slide-photos img:nth-child(2),
    .slide-photos img:nth-child(3) {
        width: 100%;
        height: auto;
        border-radius: 0.25rem;
    }

}



.drag-text {
    position: fixed; /* Фиксируем текст над слайдером */
    pointer-events: none; /* Отключаем взаимодействие с мышью */
    position: absolute;
    background-color: rgba(0, 0, 0, 1); /* Прямоугольный полупрозрачный фон */
    color: #ffffff;
    transform: translateX(0%) translateY(0%);
    border-radius: 3px;
    padding: 0.3%;
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    white-space: nowrap;
    z-index: 999; /* Размещаем поверх всего */
}

.slider-wrapper.active .drag-text {
    opacity: 1;
}

/* слайдер /\ */


.tag-list-ach {
    transform: rotate(45deg);
    width: 200vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg); /* Центрирование */
    overflow: hidden;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .tag-list-ach {
        width: 250vw; /* Уменьшаем размер для мобильных */
        height: 150vh;
        gap: 0.5rem;
    }
}

.tag-ach {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #6b6b6b;
    font-size: 0.9rem;
    background-color: #00000000;
    border: 2px dashed #7c7c7c;
    padding: 0.7rem 1rem;
    margin-right: 1rem;
}

/*------------------------------------*/

.footer {
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Нижний текст всегда внизу */
    padding: 10px 0;
    overflow: hidden; /* Скрывает всё, что выходит за правую границу */ 
}

.footer-container {
    position: relative;
    display: flex;
    justify-content: center; /* Центровка формы */
    align-items: center; /* Центровка формы */
    flex-grow: 1; /* Заставляет контейнер расти, чтобы текст внизу оставался внизу */
    gap: 2rem;
    top: -7%;
}

.left-figure-2{
    position: absolute;
    width: 15vw;
    height: 15vw;
    left: -3%;
    bottom: 25%;
}

.footer-left p {
    font-size: 1.2rem;
}

.footer-form {
    background-color: #ffffff;
    padding: 2vw;
    margin: 4vw;
    color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    max-width: 800px;
    text-align: left; /* Выравнивание текста слева */
}

.footer-label {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed gray;
}

.footer-form form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* Расстояние между полями */
}

.form-group label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: black;
}

.footer-form input, .footer-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px dashed gray;
    background: transparent;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}

.footer-form button {
    font-family: 'Tektur', sans-serif;
    padding: 0.5rem 1rem;
    border: 1px solid gray;
    background: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
    transition: background 0.3s;
}

.footer-form button:hover {
    background: gray;
    color: rgb(0, 0, 0);
}

.footer-right {
    position: absolute;
    right: 5%; /* Отступ справа */
    bottom: 8%; /* Отступ снизу */
    font-size: 1.2rem;
    color: white;
}

.footer-right h3 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right ul li {
    margin-bottom: 0.5rem;
}

.footer-right ul li a {
    color: white;
    text-decoration: none;
}

.footer-right ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    position: relative;
    border-top: 1px dashed gray;
    padding-top: 1rem;
    margin-left: 3rem;
    padding-left: 2rem;
    margin-right: 3rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    bottom: 9%;
}


@media (max-width: 768px) {

    .footer-form {
        font-size: 1.2rem; /* Увеличиваем шрифт на мобильных устройствах */
        padding: 4vw;
        height: 72vh;
    }
    
    .footer-label {
        font-size: 1.1rem; /* Увеличиваем шрифт заголовка */
        text-align: center;
    }

    .form-group label {
        font-size: 0.9rem; /* Увеличиваем шрифт текста в label */
    }

    .footer-form input {
        font-size: 0.9rem; /* Увеличиваем шрифт в полях ввода */
        height: 25px;
    }

    .footer-form textarea {
        font-size: 0.9rem; /* Увеличиваем шрифт в полях ввода */
        height: 35px;
    }
    
    
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        top: -12%
    }

    .footer-left, .footer-center, .footer-right {
        flex: none;
        margin-bottom: 1.5rem;
    }

    .footer-right h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .footer-right {
        position: absolute;
        left: 7%; /* Отступ справа */
        bottom: -14%; /* Отступ снизу */
        font-size: 0.9rem;
        color: white;
    }

    .footer-form form {
        gap: 0.9rem;
    }

    .footer-bottom {
        gap: 1rem;
        bottom: 2%;
    }
}